@model DoctorViewModel
@{
    ViewData["Title"] = "Profile";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="pstyle.css">
<h2>Profile for @Model.Doctor.FirstName @Model.Doctor.LastName</h2>
@if (Model.Doctor.AccountType == "Patient" && ViewData["id"] == null)
{
  <h2>This page is for doctors only. Please click on your username to access your profile.</h2>
}
else {
<img src="@Url.Action("UserPhotos", "Patient", new { @id = @Model.Doctor.Id})" style="height:200px; width:auto;"/>
<section>
    <!-- Calender -->
    <div class="row row1" ><!--  style="background-color: blue;" -->
      <div class="col-lg-8"> <!--  style="background-color: yellow;" -->
          <div class="w3-card-4 ins" style="width: 800px;" >
            <!-- insert calendar code -->
            <!-- x -->
            @if (@ViewData["id"] != null)
             {
              <div class="w3-container inbutton">
              <a class = "btn btn-info" role = "button" asp-area="" asp-controller="Appointment" asp-action="Create" asp-route-id='@ViewData["id"]'>Schedule Appointment</a>
              </div>
            }
          </div>
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Other Information</h2>
            </header>
            <div class="w3-container">
             <ul class="demographics">
              <li>Address: @Model.Doctor.Address</li>
            </ul>
            </div>
            <footer class="w3-container w3-blue">
             <h5>/*Footer*/</h5>
            </footer>
          </div>
          <!-- Accepted Insurance -->
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Accepted Insurance</h2>
            </header>
            <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <footer class="w3-container w3-blue">
             <h5>/*Footer*/</h5>
            </footer>
          </div>
  
          <!-- Account Settings -->
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Account Settings</h2>
            </header>
            <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <footer class="w3-container w3-blue">
             <h5>/*Footer*/</h5>
            </footer>
          </div>
      </div>
      <!-- Second column -->
      <div class="col-lg-4" > <!-- style="background-color: red;" -->
          <div class="w3-card-4 ins" style="width: 370px;" >
            <header class="w3-container w3-blue">
              <h2>Services Provided</h2>
            </header>
  
           <div class="w3-container">
             <ul>
               @foreach (var service in Model.Services) {
                 <li>@service.Name: @service.Cost</li>
              }
             </ul>
           </div>
           <footer class="w3-container w3-blue">
           @if (ViewData["id"] == null){
             <div class="w3-container inbutton">
               <a  asp-area="" asp-controller="Doctor" asp-action="AddService" class="btn btn-info"  role="button">Add Service</a>
             </div>
           }
           </footer>
          </div>
      </div>
      
    </div> 
  </section>
  @if (ViewData["id"] == null){
    <footer  id="wrapper">
      <a href="#" class="btn btn-info"  role="button">Update Profile</a>
    </footer>
  }
}