@model ConversationModel
@{
    ViewData["Title"] = "Conversation";
}

<h2>Conversation with: @Model.DisplayName</h2>
<div class="row">
    <div class="col">
        <ul style = "list-style: none;">
            @foreach (var msg in Model.Messages) {
                @if (msg.FromPatient) {
                <div class = "panel panel-default">
                    @if (@Model.IsDoctor) {
                    <div class = "panel-heading">
                        <p class="card-text"><li style="text-align: left"> Sent at @Html.DisplayFor(x=> msg.messagetime) , @Html.DisplayFor(x => msg.PatientName):</li></p>
                    </div>}
                    @if (@Model.IsDoctor) {
                    <div class = "panel-body">
                        <p class="card-text"><li style="text-align: left"> @Html.DisplayFor(x => msg.MessageString) </li></p>
                    </div>}
                    @if (!@Model.IsDoctor) {
                    <div class = "panel-heading">
                        <p class="card-text"><li style="text-align: right"> Sent at @Html.DisplayFor(x=> msg.messagetime) , @Html.DisplayFor(x => msg.PatientName):</li></p>
                    </div>}
                    @if (!@Model.IsDoctor) {
                    <div class = "panel-body">
                     <p class="card-text"><li style="text-align: right"> @Html.DisplayFor(x => msg.MessageString)</li></p>
                    </div>}
                </div>}
                @if (!msg.FromPatient) {
                <div class = "panel panel-default">
                    @if (@Model.IsDoctor) {
                    <div class = "panel-heading">
                        <p class="card-text"><li style="text-align: right"> Sent at @Html.DisplayFor(x=> msg.messagetime) , @Html.DisplayFor(x => msg.DoctorName):</li></p>
                    </div>}
                    @if (@Model.IsDoctor) {
                    <div class = "panel-body">
                        <p class="card-text"><li style="text-align: right"> @Html.DisplayFor(x => msg.MessageString) </li></p>
                    </div>}
                    @if (!@Model.IsDoctor) {
                    <div class = "panel-heading">
                        <p class="card-text"><li style="text-align: left"> Sent at @Html.DisplayFor(x=> msg.messagetime) , @Html.DisplayFor(x => msg.DoctorName):</li></p>
                    </div>}
                    @if (!@Model.IsDoctor) {
                    <div class = "panel-body">
                     <p class="card-text"><li style="text-align: left"> @Html.DisplayFor(x => msg.MessageString)</li></p>
                    </div>}
                </div>}
            }
        </ul>
        <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="text"></label>
                <input asp-for="text" class="form-control" placeholder="Enter your message here..."/>
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Send Message</button>
        </form>
    </div>
</div>